<aside>
        <div class="communityContainer">
            <h1>Communities</h1>

            <div class="community"> 
                <h3 class="communityName">
                    College
                </h3>
                <p class="communityDesc">
                    Discussions about student life, academics, exams, and campus experience
                </p>
                <hr>
            </div>
            
            <div class="community"> 
                <h3 class="communityName">
                    Shows
                </h3>
                <p class="communityDesc">
                    Talk about TV series, movies, and binge-worthy recommendations.
                </p>
                <hr>
            </div>

            <div class="community"> 
                <h3 class="communityName">
                    Formula 1
                </h3>
                <p class="communityDesc">
                    Everything about F1 racing, teams, drivers, and season updates.
                </p>
                <hr>
            </div>

        </div>
    </aside>