<aside>
    <div class="communityContainer">
        <h1>Communities</h1>
        {{#each communities}}
            <div class="community">
                <h3 class="communityName">
                    <a href="/community/{{name}}" class="no-style">{{name}}</a>
                </h3>
                <p class="communityDesc">
                    {{bio}}
                </p>
            </div>
        {{/each}}
    </div>
</aside>