<!-- header -->
<header class="mainPage">
    <div class="headitem appbrandContainer">
        <img class="horizontalLogo" src="/common/horizontal-logo.png">
    </div>
    <div class="logoContainer">
        <img class="circle" src="/common/circle-logo.png" alt="shrek">
    </div>
    <div class="headitem homeLoginContainer">
        {{#if isAuthenticated}}
            <div class="profile-container">
                <img class="pfp profileDropdownTrigger" src="{{pfp}}" alt="pfp">
                <div class="dropdown-menu profileDropdown">
                    <a href="/profile/{{currentuser}}">View Profile</a>
                    <a href="/logout" class="logout-button">Log Out</a>
                </div>
            </div>
        {{else}}
            <a class="loginButton" href="/login">Log In</a>
        {{/if}}
    </div>
</header>