<!-- header -->
<header class="mainPage">
    <div class="headitem appbrandContainer">
        <img class="horizontalLogo" src="common/horizontal-logo.png">
    </div>
    <div class="headitem logoContainer">
        <img class="circle" src="common/circle-logo.png" alt="shrek">
    </div>
    <div class="headitem homeLoginContainer">
        <a class="loginButton" href="/login">Log In</a>
    </div>
</header>