<!-- header once logged in-->
<header class="mainPage">
            <div class="headitem appbrandContainer">
                <img class="horizontalLogo" src="/common/horizontal-logo.png" alt="horizontalLogo">
            </div>
            <div class="head item logoContainer">
                <img class="circle" src="/common/circle-logo.png" alt="shrek">
            </div>
            <div class="headitem homeLoginContainer">
                <img class="pfp" src="/common/defaultpfp.png" alt="pfp">
            </div>
</header>