<!-- NavBar -->
<nav class="mainPage">
    <a class="navItem no-style" href="/" {{#if (eq selNav 'main')}}id="selNavPage"{{/if}} >Home</a>
    <a class="navItem no-style" href="/explore" {{#if (eq selNav 'explore')}}id="selNavPage"{{/if}} >Explore</a>
    <a class="navItem no-style" href="/newpost" {{#if (eq selNav 'newpost')}}id="selNavPage"{{/if}} >Post</a>
    <a class="navItem no-style" href="popular.html" {{#if (eq selNav 'popular')}}id="selNavPage"{{/if}} >Popular</a>
    <a class="navItem no-style" href="profile.html" {{#if (eq selNav 'profile')}}id="selNavPage"{{/if}} >Profile</a>
</nav>