<div>
    <div class="postAction">
        <div class="actionContainer">
            <!-- UPVOTES -->
            <div class="action">
                <img src="https://icons.iconarchive.com/icons/colebemis/feather/512/thumbs-up-icon.png">
                <span>{{upvotes}}</span>
            </div>
            <!-- DOWNVOTES -->
            <div class="action">
                <img src="https://icons.iconarchive.com/icons/colebemis/feather/512/thumbs-down-icon.png">
                <span>{{downvotes}}</span>
            </div>
            <!-- REPLIES -->
            <div class="action">
                <a href="/profile/BigGreenLegend/post1">
                    <img src="https://icons.iconarchive.com/icons/fa-team/fontawesome-regular/512/FontAwesome-Regular-Comment-icon.png">
                </a>
                <span>{{replies}}</span>
            </div>
        </div>
        
        <!-- EDIT & DELETE -->
        <div class="modifyContainer">
            <a class="modify" href="/profile/BigGreenLegend/post1/edit">
                <img src="https://icons.veryicon.com/png/o/miscellaneous/linear-small-icon/edit-246.png" alt="edit">
            </a>
            <a class="modify">
                <img src="https://cdn-icons-png.flaticon.com/512/3161/3161358.png" alt="delete">
            </a>
        </div>
    </div>
    <hr>
</div>
