<!-- profile -->
<body class="profilePage">
        {{> header}}
        {{> navbar}}
        <profile>
            <div class="profileContainer">
                <div class="profileDetails">
                    <img src="https://static.wikia.nocookie.net/dreamworks/images/6/67/Shrek_Profile.jpg">
                    <div class="profileName">
                        <div class="name">
                            <span>Swamp Guardian</span>
                        </div>
                        <div class="username">
                            <span>@BigGreenLegend</span>
                        </div>
                    </div>
                </div>
                <div class="profileBio">
                    <span>Professional Swamp Owner | Full-time ogre.<br>
                          No Farquads allowed.</span>
                </div>
                <div class="profileEditButton">
                    <a href="/profile/edit" class="no-style">
                        <span>Edit profile</span>
                    </a>
                </div>
                <div class="profileTabContainer">
                    <div class="items" id="selProfileTab">Posts</div>
                    <a href="/profile/replies" class="no-style">
                        <div class="items">Replies</div>
                    </a>
                    <a href="/profile/upvotes" class="no-style">
                        <div class="items">Upvotes</div>
                    </a> 
                </div>
                <hr>

                <div class="profilePosts">
                    <!-- PROFILE POST 1 -->
                    <div class="postContainer">
                        <div class="post">
                            <img class="pfp" src="https://static.wikia.nocookie.net/dreamworks/images/6/67/Shrek_Profile.jpg" alt="shrek">
                            <div class="poster">
                                <b>Swamp Guardian</b> <span>@BigGreenLegend</span> <span>5h</span> <br>
                                <div class="tags">
                                    <span class="tag" style="background: red;">Formula 1</span>
                                </div>
                            </div>
                            <div></div>
                            <div class="postContent">
                                <h3>F1 2025</h3>
                                <p>Excited for the new F1 season! Shame Sainz had to move to Williams.</p>
                            </div>
                            <div></div>
                            <div>
                                <div class="actionContainer">
                                    <div class="action">
                                        <img src="https://icons.iconarchive.com/icons/colebemis/feather/512/thumbs-up-icon.png">
                                        <span>55</span>
                                    </div>
                                    <div class="action">
                                        <img src="https://icons.iconarchive.com/icons/colebemis/feather/512/thumbs-down-icon.png">
                                        <span>16</span>
                                    </div>
                                    <div class="action">
                                        <a href="index-comments-template.html">
                                            <img src="https://icons.iconarchive.com/icons/fa-team/fontawesome-regular/512/FontAwesome-Regular-Comment-icon.png">
                                        </a>
                                        <span>0</span>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                    <!-- end of PROFILE POST 1 -->
                </div>

            </div>
        </profile>

    </body>