<body class="profilePage">
    {{> header}}
    {{> navbar}}
    <profile>
        <div class="editProfile">
            <div class="headerContainer">
                <a href="/profile/{{username}}?currentuser={{currentuser}}">
                    <img src="https://www.iconpacks.net/icons/2/free-arrow-left-icon-3099-thumb.png">
                </a>
                <h3>Edit Profile</h3>
            </div>
            <div class="editPfp">
                <img class="pfp" src={{pfp}} alt="pfp" />
                <p><span>edit profile picture</span></p>
            </div>
            <form class="editDetails" id="editDetailsForm" method="POST">
                <h4>Profile Name</h4>
                <input type="text" id="profileName" placeholder="Profile Name">
                <h4>Username</h4>
                <input type="text" id="userName" placeholder="Username">
                <h4>Bio</h4>
                <input type="text" id="bio" placeholder="Bio">
                <input id="postButton" type="submit" value="Submit"> 
            </form>
        </div>
    </profile>
</body>

<script src="/js/dropdown.js"></script>