<!-- explore -->
<body class="mainPage no-aside">
    {{> header}}
    {{> navbar}}

    <div class="pageContentContainer">
        <div class="exploreContent">
            <span class="pageHeader">Explore Posts</span>
            <form class="searchBarBox" action="/explore/results" method="GET">
                <div class="searchContainer">
                    <input class="searchBar" name="searchBar" type="text" placeholder="Type to search" required>
                    <div class="dropdownContainerCommunity">
                        <select name="community" class="communityDropdown">
                            <option value="">Select Community</option>
                                {{#each communities}}
                                    <option value="{{name}}">{{name}}</option>
                                {{/each}}
                        </select>
                    </div>
                </div>
                <input id="searchButton" type="submit" value="Search"> 
            </form>
            {{#each posts}}
                {{> post currentuser=../currentuser}}
            {{/each}}
        </div>
    </div>
</body>