<!-- explore -->
<body class="mainPage no-aside">
    {{> header}}
    {{> navbar}}

    <div class="pageContentContainer">
        <div class="exploreContent">
            <form class="searchBarBox">
                <input class="searchBar" name="searchBar" type="text" placeholder="Type to search" required>
                <input id="searchButton" type="submit" value="Search"> 
            </form>
            <!-- POSTS -->
            {{#each posts}}
                {{> post currentuser=../currentuser}}
            {{/each}}
            <!-- end of POST 1 -->
        </div>
    </div>
</body>