<!-- login -->
<body class="startingPage">
    <div class="loginContainer">
        <img class="applogo" src="common/circle-logo.png" alt="logo">
        <h2>Log in to CLIQUE</h2>
        <form class="loginDetails">
            <input required type="text" id="userName" placeholder="Username">
            <br>
            <input required type="password" id="passWord" placeholder="Password">
            <br>
            <div class="rememberMeContainer">
                <input type="checkbox" id="rememberMe">
            <label for="rememberMe">Remember me</label><br>
            </div>
            <br>
            <button type="submit"><b>Log in</b></button>
        </form>
        <br>
        <span>New to [forum]? <a href="/register">Sign up</a></span>
    </div>
</body>