<!-- main -->
<body class="mainPage">
    {{> header}}
    {{> navbar}}
    <div class="homeContainer">
        <div class="homePosts">
            <span class="pageHeader">Recent Posts</span>
            <!-- POST 1 -->
            <div class="postContainer">
                <div class="post">
                    <img class="pfp" src="https://static.wikia.nocookie.net/dreamworks/images/6/67/Shrek_Profile.jpg" alt="shrek">
                    <div class="poster">
                        <a href="profile.html" class="no-style">
                        <b>Swamp Guardian</b> <span>@BigGreenLegend</span> </a> <span>5h</span>
                        <div class="tags">
                            <span class="tag" style="background: red;">Formula 1</span>
                        </div>
                    </div>
                    <div></div>
                    <div class="postContent">
                        <h3>F1 2025</h3>
                        <p>Excited for the new F1 season! Shame Sainz had to move to Williams.</p>
                    </div>
                    <div></div>
                    <div class="postAction">
                        <div class="actionContainer">
                            <div class="action">
                                <img src="https://icons.iconarchive.com/icons/colebemis/feather/512/thumbs-up-icon.png">
                                <span>103</span>
                            </div>
                            <div class="action">
                                <img src="https://icons.iconarchive.com/icons/colebemis/feather/512/thumbs-down-icon.png">
                                <span>12</span>
                            </div>
                            <div class="action">
                                <a href="index-comments-template.html">
                                    <img src="https://icons.iconarchive.com/icons/fa-team/fontawesome-regular/512/FontAwesome-Regular-Comment-icon.png">
                                </a>
                                <span>53</span>
                            </div>
                        </div>
                        <div class="modifyContainer">
                            <a class="modify" href="edit-post.html">
                                <img src="https://icons.veryicon.com/png/o/miscellaneous/linear-small-icon/edit-246.png" alt="edit">
                            </a>
                            <a class="modify">
                                <img src="https://cdn-icons-png.flaticon.com/512/3161/3161358.png" alt="delete">
                            </a>
                        </div>

                        <hr>
                    </div>
                </div>
            </div>
            <!-- POST 2 -->
            <div class="postContainer">
                <div class="post">
                    <img class="pfp" src="https://aem.dropbox.com/cms/content/dam/dropbox/blog/files/2024/september/mclaren/mclaren-race-hero.png/_jcr_content/renditions/mclaren-race-hero.webp" alt="pfp_o1">
                    <div class="poster">
                        <a href="profile-template.html" class="no-style">
                        <b>RacingFan55</b> <span>@f1_fanatic</span> </a> <span>5h</span>
                        <div class="tags">
                            <span class="tag" style="background: red;">Formula 1</span>
                        </div>
                    </div>
                    <div></div>
                    <div class="postContent">
                        <h3>McLaren's Comeback</h3>
                        <p>McLaren did well this season. I wonder if they can challenge Red Bull.</p>
                    </div>
                    <div></div>
                    <div class="postAction">
                        <div class="actionContainer">
                            <div class="action">
                                <img src="https://icons.iconarchive.com/icons/colebemis/feather/512/thumbs-up-icon.png">
                                <span>11</span>
                            </div>
                            <div class="action">
                                <img src="https://icons.iconarchive.com/icons/colebemis/feather/512/thumbs-down-icon.png">
                                <span>30</span>
                            </div>
                            <div class="action">
                                <a href="index-comments-template.html">
                                    <img src="https://icons.iconarchive.com/icons/fa-team/fontawesome-regular/512/FontAwesome-Regular-Comment-icon.png">
                                </a>
                                <span>0</span>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <!-- POST 3 -->
            <div class="postContainer">
                <div class="post">
                    <img class="pfp" src="https://d1amk1w0mr5k0.cloudfront.net/blog/wp-content/uploads/2018/08/GettyImages-802465010-1.jpg" alt="pfp_o2">
                    <div class="poster">
                        <a href="profile-template.html" class="no-style">
                        <b>StudentLife23</b> <span>@uni_survivor</span> </a> <span>5h</span>
                        <div class="tags">
                            <span class="tag" style="background: pink;">College</span>
                        </div>
                    </div>
                    <div></div>
                    <div class="postContent">
                        <h3>Hardest Color Major</h3>
                        <p>Which major do you think is the hardest?</p>
                    </div>
                    <div></div>
                    <div class="postAction">
                        <div class="actionContainer">
                            <div class="action">
                                <img src="https://icons.iconarchive.com/icons/colebemis/feather/512/thumbs-up-icon.png">
                                <span>12</span>
                            </div>
                            <div class="action">
                                <img src="https://icons.iconarchive.com/icons/colebemis/feather/512/thumbs-down-icon.png">
                                <span>3</span>
                            </div>
                            <div class="action">
                                <a href="index-comments-template.html">
                                    <img src="https://icons.iconarchive.com/icons/fa-team/fontawesome-regular/512/FontAwesome-Regular-Comment-icon.png">
                                </a>
                                <span>1</span>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <!-- POST 4 -->
            <div class="postContainer">
                <div class="post">
                    <img class="pfp" src="https://www.cia-france.com/media/1492/les-films-incontournables-du-cinema-w_2524x884.jpg" alt="pfp_o3">
                    <div class="poster">
                        <a href="profile-template.html" class="no-style">
                        <b>MovieBuff77</b> <span>@cinema_geek</span> </a> <span>12h</span>
                        <div class="tags">
                            <span class="tag" style="background: blue;">Shows</span>
                        </div>
                    </div>
                    <div></div>
                    <div class="postContent">
                        <h3>Greatest TV Show Ever</h3>
                        <p>What's the greatest TV show of all time? Sopranos, Breaking Bad, or something else?</p>
                    </div>
                    <div></div>
                    <div class="postAction">
                        <div class="actionContainer">
                            <div class="action">
                                <img src="https://icons.iconarchive.com/icons/colebemis/feather/512/thumbs-up-icon.png">
                                <span>1</span>
                            </div>
                            <div class="action">
                                <img src="https://icons.iconarchive.com/icons/colebemis/feather/512/thumbs-down-icon.png">
                                <span>0</span>
                            </div>
                            <div class="action">
                                <a href="index-comments-template.html">
                                    <img src="https://icons.iconarchive.com/icons/fa-team/fontawesome-regular/512/FontAwesome-Regular-Comment-icon.png">
                                </a>
                                <span>1</span>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <!-- POST 5 -->
            <div class="postContainer">
                <div class="post">
                    <img class="pfp" src="https://static.wikia.nocookie.net/dreamworks/images/6/67/Shrek_Profile.jpg" alt="shrek">
                    <div class="poster">
                        <a href="profile.html" class="no-style">
                        <b>Swamp Guardian</b> <span>@BigGreenLegend</span> </a> <span>1w</span>
                        <div class="tags">
                            <span class="tag" style="background: red;">Formula 1</span>
                        </div>
                    </div>
                    <div></div>
                    <div class="postContent">
                        <h3>Tu tu tu tu</h3>
                        <p>Will Verstappen win again or Hamilton in a Ferrari?</p>
                    </div>
                    <div></div>
                    <div class="postAction">
                        <div class="actionContainer">
                            <div class="action">
                                <img src="https://icons.iconarchive.com/icons/colebemis/feather/512/thumbs-up-icon.png">
                                <span>33</span>
                            </div>
                            <div class="action">
                                <img src="https://icons.iconarchive.com/icons/colebemis/feather/512/thumbs-down-icon.png">
                                <span>44</span>
                            </div>
                            <div class="action">
                                <a href="index-comments.html">
                                    <img src="https://icons.iconarchive.com/icons/fa-team/fontawesome-regular/512/FontAwesome-Regular-Comment-icon.png">
                                </a>
                                <span>5</span>
                            </div>
                        </div>
                        <div class="modifyContainer">
                            <a class="modify" href="edit-post.html">
                                <img src="https://icons.veryicon.com/png/o/miscellaneous/linear-small-icon/edit-246.png" alt="edit">
                            </a>
                            <a class="modify">
                                <img src="https://cdn-icons-png.flaticon.com/512/3161/3161358.png" alt="delete">
                            </a>
                        </div>

                        <hr>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
    <!-- Communities -->
    <aside>
        <div class="communityContainer">
            <h1>Communities</h1>

            <div class="community"> 
                <h3 class="communityName">
                    College
                </h3>
                <p class="communityDesc">
                    Discussions about student life, academics, exams, and campus experience
                </p>
                <hr>
            </div>
            
            <div class="community"> 
                <h3 class="communityName">
                    Shows
                </h3>
                <p class="communityDesc">
                    Talk about TV series, movies, and binge-worthy recommendations.
                </p>
                <hr>
            </div>

            <div class="community"> 
                <h3 class="communityName">
                    Formula 1
                </h3>
                <p class="communityDesc">
                    Everything about F1 racing, teams, drivers, and season updates.
                </p>
                <hr>
            </div>

        </div>
    </aside>
</body>