<!-- main -->
<body class="mainPage">
    {{> header}}
    {{> navbar}}
    <div class="homeContainer">
        <div class="homePosts">
            <span class="pageHeader">Recent Posts</span>
            <!-- POST 1 -->
            <div class="postContainer">
                <div class="post">
                    <img class="pfp" src="https://static.wikia.nocookie.net/dreamworks/images/6/67/Shrek_Profile.jpg" alt="shrek">
                    <div class="poster">
                        <a href="/profile/BigGreenLegend" class="no-style">
                        <b>Swamp Guardian</b> <span>@BigGreenLegend</span> </a> <span>5h</span>
                        <div class="tags">
                            <span class="tag" style="background: red;">Formula 1</span>
                        </div>
                    </div>
                    <div></div>
                    <div class="postContent">
                        <h3>F1 2025</h3>
                        <p>Excited for the new F1 season! Shame Sainz had to move to Williams.</p>
                    </div>
                    <div></div>
                    <div class="postAction">
                        <div class="actionContainer">
                            <div class="action">
                                <img src="https://icons.iconarchive.com/icons/colebemis/feather/512/thumbs-up-icon.png">
                                <span>103</span>
                            </div>
                            <div class="action">
                                <img src="https://icons.iconarchive.com/icons/colebemis/feather/512/thumbs-down-icon.png">
                                <span>12</span>
                            </div>
                            <div class="action">
                                <a href="/profile/BigGreenLegend/post1">
                                    <img src="https://icons.iconarchive.com/icons/fa-team/fontawesome-regular/512/FontAwesome-Regular-Comment-icon.png">
                                </a>
                                <span>53</span>
                            </div>
                        </div>
                        <div class="modifyContainer">
                            <a class="modify" href="/profile/BigGreenLegend/post1/edit">
                                <img src="https://icons.veryicon.com/png/o/miscellaneous/linear-small-icon/edit-246.png" alt="edit">
                            </a>
                            <a class="modify">
                                <img src="https://cdn-icons-png.flaticon.com/512/3161/3161358.png" alt="delete">
                            </a>
                        </div>

                        <hr>
                    </div>
                </div>
            </div>
            <!-- end of POST 1 -->
        </div>
    </div>
    <!-- Communities -->
    <aside>
        <div class="communityContainer">
            <h1>Communities</h1>

            <div class="community"> 
                <h3 class="communityName">
                    College
                </h3>
                <p class="communityDesc">
                    Discussions about student life, academics, exams, and campus experience
                </p>
                <hr>
            </div>
            
            <div class="community"> 
                <h3 class="communityName">
                    Shows
                </h3>
                <p class="communityDesc">
                    Talk about TV series, movies, and binge-worthy recommendations.
                </p>
                <hr>
            </div>

            <div class="community"> 
                <h3 class="communityName">
                    Formula 1
                </h3>
                <p class="communityDesc">
                    Everything about F1 racing, teams, drivers, and season updates.
                </p>
                <hr>
            </div>

        </div>
    </aside>
</body>