<!-- main -->
<body class="mainPage">
    {{> header}}
    {{> navbar}}
    <div class="homeContainer">
        <div class="homePosts">
            <span class="pageHeader">Recent Posts</span>
            <!-- POSTS -->
            {{#each posts}}
                {{> post}}
            {{/each}}
            <!-- END OF POSTS-->
        </div>
    </div>
    <!-- Communities -->
    {{> communities}}
</body>