<!-- newpost -->
<body class="profilePage">
    {{> header-loggedin}}
    {{> navbar}}

    <profile>
        <div class="makePostContainer">
            <form class="makePost">
                <span class="pageHeader">Share your thoughts</span>
                <input class="postTitle" name="postTitle" type="text" placeholder="Title of Post" required>
                <textarea class="postDesc" name="postDesc" id="postDesc" placeholder="Description of Post"></textarea>

                <footer>
                    <select class="postSelect" name="postCommunity" id="postCommunity">
                        <option value="comA">Community A</option>
                        <option value="comB">Community B</option>
                        <option value="comC">Community C</option>
                    </select>
                    <input id="postButton" type="submit" value="Post"> 
                </footer>
            </form>
        </div>
    </profile>
</body>