<!-- popular -->
<body class="mainPage">
    
    {{> header}}
    {{> navbar}}

    <div class="homeContainer">
        <div class="homePosts">
            <span class="pageHeader">Popular Posts</span>
            <!-- POST 1 -->
            {{#each posts}}
                {{> post}}
            {{/each}}
            <!-- end of POST 1 -->
        </div>
    </div>
    {{> communities}}
</body>