<div class="profileTabContainer">
    <a href="/profile/{{username}}" class="no-style">
        <div class="items">Posts</div>
    </a>
    
    <a href="/profile/{{username}}/replies" class="no-style">
        <div class="items">Replies</div>
    </a>
    <div class="items" id="selProfileTab">Upvotes</div>
</div>
<hr>
<div class="profilePosts">
    {{#if posts.length}}
        {{#each posts}}
            {{> post currentuser=../currentuser}}
        {{/each}}
    {{else}}
        <p>No posts found.</p>
    {{/if}}
</div>