<div class="profileTabContainer">
    <a href="/profile/{{username}}?currentuser={{currentuser}}" class="no-style">
        <div class="items">Posts</div>
    </a>
    <div class="items" id="selProfileTab">Replies</div>
    <a href="/profile/{{username}}/upvotes?currentuser={{currentuser}}" class="no-style">
        <div class="items">Upvotes</div>
    </a> 
</div>
<hr>

{{#each repliesToPost}}
    {{> reply}}
{{/each}}