<div class="profileTabContainer">
    <a href="/profile/{{username}}?currentuser={{currentuser}}" class="no-style">
        <div class="items">Posts</div>
    </a>
    <a href="/profile/{{username}}/replies?currentuser={{currentuser}}" class="no-style">
        <div class="items">Replies</div>
    </a> 
    <div class="items" id="selProfileTab">Upvotes</div>
</div>
<hr>
<div class="profilePosts">
    {{#each posts}}
        {{> post currentuser=../currentuser}}
    {{/each}}
</div>