<!-- register -->
<body class="startingPage">
    <div class="loginContainer register">
        <img class="applogo" src="common/circle-logo.png" alt="logo">
        <h2>Log in to CLIQUE</h2>
        <form class="loginDetails" action="/register" method="POST">
            <input required type="text" name="email" placeholder="Email">
            <br>
            <input required type="text" name="username" placeholder="Username">
            <br>
            <input required type="text" name="profileName" placeholder="Profile Name">
            <br>
            <input required type="password" name="password" placeholder="Password">
            <br>
            <input required type="password" name="confirmPassword" placeholder="Confirm Password">
            <br>
            <span class="registerTerms">By signing up, you agree to our Terms, Privacy<br>Policy, and Cookies Policy.</span>
            <button type="submit"><b>Register</b></button>
        </form>
        <br>
        <span><a href="/login">Back to Login</a></span>
    </div>
</body>