<!-- register -->
<body class="startingPage">
    <div class="loginContainer register">
        <img class="applogo" src="common/circle-logo.png" alt="logo">
        <h2>Log in to CLIQUE</h2>
        <form class="loginDetails">
            <input required type="text" id="email" placeholder="Email">
            <br>
            <input required type="text" id="userName" placeholder="Username">
            <br>
            <input required type="text" id="profileName" placeholder="Profile Name">
            <br>
            <input required type="password" id="passWord" placeholder="Password">
            <br>
            <input required type="password" id="confirmPassWord" placeholder="Confirm Password">
            <br>
            <span class="registerTerms">By signing up, you agree to our Terms, Privacy<br>Policy, and Cookies Policy.</span>
            <button type="register"><b>Register</b></button>
        </form>
        <br>
    </div>
</body>