<body class="mainPage">
    {{> header}}
    {{> navbar}}
    <div class="homeContainer">
        <div class="homePosts">
            <div class="backPost">
                <a href="/" class="no-style">
                    <img src="https://www.iconpacks.net/icons/2/free-arrow-left-icon-3099-thumb.png">
                </a>
                <span><b>Post</b></span>
            </div>
            <!-- main post -->
            {{> post}}
            <!-- post reply -->
            <div class="postAReply">
                <form class="makeReply" id="replyForm" action="/reply/{{author.username}}/{{_id}}" method="POST">
                    <input type="text" name="replyText" placeholder="Post to reply...">
                    <input type="submit" value="Reply">
                </form>
            </div>
            <!-- replies-->
            {{#each repliesToPost}}
                {{> reply currentuser=../currentuser}}
            {{/each}}
        </div>
    </div>            
    {{> communities}}
    <script src="/js/dropdown.js"></script>
</body>