<body class="mainPage">
    {{> header}}
    {{> navbar}}
    <div class="homeContainer">
        <div class="homePosts">
            <div class="backPost">
                <a href="/?currentuser={{currentuser}}" class="no-style">
                    <img src="https://www.iconpacks.net/icons/2/free-arrow-left-icon-3099-thumb.png">
                </a>
                <span><b>Post</b></span>
            </div>
            <!-- main post -->
            {{> post}}
            
            <!-- post reply -->
            <div class="postAReply">
                <input type="text" placeholder="Post to reply...">
                <button type="submit">Reply</button>
            </div>
            <!-- reply 1 -->
            <div class="replyContainer">
                <div class="post">
                    <img class="pfp" src="https://aem.dropbox.com/cms/content/dam/dropbox/blog/files/2024/september/mclaren/mclaren-race-hero.png/_jcr_content/renditions/mclaren-race-hero.webp" alt="pfp_o1">
                    <div class="poster">
                        <b>RacingFan55</b> <span>@f1_fanatic</span> <span>5h</span> <br>
                    </div>
                    <div></div>
                    <div class="postContent">
                        <p>MV33!</p>
                    </div>
                    <div></div>
                    <div>
                        <div class="actionContainer">
                            <div class="action">
                                <img src="https://icons.iconarchive.com/icons/colebemis/feather/512/thumbs-up-icon.png">
                                <span>0</span>
                            </div>
                            <div class="action">
                                <img src="https://icons.iconarchive.com/icons/colebemis/feather/512/thumbs-down-icon.png">
                                <span>0</span>
                            </div>
                            <div class="action">
                                <img src="https://icons.iconarchive.com/icons/fa-team/fontawesome-regular/512/FontAwesome-Regular-Comment-icon.png">
                                <span>0</span>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <!-- reply 2 -->
            <div class="replyContainer">
                <div class="post">
                    <img class="pfp" src="https://d1amk1w0mr5k0.cloudfront.net/blog/wp-content/uploads/2018/08/GettyImages-802465010-1.jpg" alt="pfp_o2">
                    <div class="poster">
                        <b>StudentLife23</b> <span>@uni_survivor</span> <span>5h</span> <br>
                    </div>
                    <div></div>
                    <div class="postContent">
                        <p>Hamilton keeps on crashing the SF25s.</p>
                    </div>
                    <div></div>
                    <div>
                        <div class="actionContainer">
                            <div class="action">
                                <img src="https://icons.iconarchive.com/icons/colebemis/feather/512/thumbs-up-icon.png">
                                <span>0</span>
                            </div>
                            <div class="action">
                                <img src="https://icons.iconarchive.com/icons/colebemis/feather/512/thumbs-down-icon.png">
                                <span>0</span>
                            </div>
                            <div class="action">
                                <img src="https://icons.iconarchive.com/icons/fa-team/fontawesome-regular/512/FontAwesome-Regular-Comment-icon.png">
                                <span>0</span>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <!-- reply 3 -->
            <div class="replyContainer">
                <div class="post">
                    <img class="pfp" src="https://www.cia-france.com/media/1492/les-films-incontournables-du-cinema-w_2524x884.jpg" alt="pfp_o3">
                    <div class="poster">
                        <b>MovieBuff77</b> <span>@cinema_geek</span> <span>12h</span> <br>
                    </div>
                    <div></div>
                    <div class="postContent">
                        <p>Team LH!</p>
                    </div>
                    <div></div>
                    <div>
                        <div class="actionContainer">
                            <div class="action">
                                <img src="https://icons.iconarchive.com/icons/colebemis/feather/512/thumbs-up-icon.png">
                                <span>1</span>
                            </div>
                            <div class="action">
                                <img src="https://icons.iconarchive.com/icons/colebemis/feather/512/thumbs-down-icon.png">
                                <span>0</span>
                            </div>
                            <div class="action">
                                <img src="https://icons.iconarchive.com/icons/fa-team/fontawesome-regular/512/FontAwesome-Regular-Comment-icon.png">
                                <span>0</span>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <!-- reply 4 -->
            <div class="replyContainer">
                <div class="post">
                    <img class="pfp" src="https://bluemoji.io/cdn-proxy/646218c67da47160c64a84d5/66b3e5fbd9bbb8343a2928d0_82.png" alt="pfp_04">
                    <div class="poster">
                        <b>CampusJoker</b> <span>@meme_professor</span> <span>1d</span> <br>
                    </div>
                    <div></div>
                    <div class="postContent">
                        <p>Max will definitely win. No argument.</p>
                    </div>
                    <div></div>
                    <div>
                        <div class="actionContainer">
                            <div class="action">
                                <img src="https://icons.iconarchive.com/icons/colebemis/feather/512/thumbs-up-icon.png">
                                <span>3</span>
                            </div>
                            <div class="action">
                                <img src="https://icons.iconarchive.com/icons/colebemis/feather/512/thumbs-down-icon.png">
                                <span>0</span>
                            </div>
                            <div class="action">
                                <img src="https://icons.iconarchive.com/icons/fa-team/fontawesome-regular/512/FontAwesome-Regular-Comment-icon.png">
                                <span>0</span>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <!-- reply 5 -->
            <div class="replyContainer">
                <div class="post">
                    <img class="pfp" src="https://play-lh.googleusercontent.com/AFTR5qCcA2rTeEJTeQr4RcFelF7r1sJUnJTvo2lABGTR4SF774vcozga636nqzEGLk0" alt="pfp_o5">
                    <div class="poster">
                        <b>ScuderiaFan</b> <span>@prancing_horse</span> <span>1w</span> <br>
                    </div>
                    <div></div>
                    <div class="postContent">
                        <p>Ferrari's strategy team just needs serious change.</p>
                    </div>
                    <div></div>
                    <div>
                        <div class="actionContainer">
                            <div class="action">
                                <img src="https://icons.iconarchive.com/icons/colebemis/feather/512/thumbs-up-icon.png">
                                <span>0</span>
                            </div>
                            <div class="action">
                                <img src="https://icons.iconarchive.com/icons/colebemis/feather/512/thumbs-down-icon.png">
                                <span>0</span>
                            </div>
                            <div class="action">
                                <img src="https://icons.iconarchive.com/icons/fa-team/fontawesome-regular/512/FontAwesome-Regular-Comment-icon.png">
                                <span>0</span>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <aside>
        <div class="communityContainer">
            <h1>Communities</h1>

            <div class="community"> 
                <h3 class="communityName">
                    College
                </h3>
                <p class="communityDesc">
                    Discussions about student life, academics, exams, and campus experience
                </p>
                <hr>
            </div>
            
            <div class="community"> 
                <h3 class="communityName">
                    Shows
                </h3>
                <p class="communityDesc">
                    Talk about TV series, movies, and binge-worthy recommendations.
                </p>
                <hr>
            </div>

            <div class="community"> 
                <h3 class="communityName">
                    Formula 1
                </h3>
                <p class="communityDesc">
                    Everything about F1 racing, teams, drivers, and season updates.
                </p>
                <hr>
            </div>
            
        </div>
    </aside>
</body>